<div class="container">

    <div class="col-sm-8 mt-3">
        <h4>Node.js upload</h4>

        <form class="mt-4" action="/users/resume/upload" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <input type="file" name="file" id="input-files" class="form-control-file border" />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    {{!-- {{#if resumes}}
    {{#each resumes}}
    <ul>
        <a href="./profile/resume/{{this}}" target="_blank">resume{{math @index "+" 1}}.pdf</a>
        <button value={{this}} class="delete btn-primary">delete</button>
    </ul>
    {{/each}}
    {{/if}} --}}

    {{#if error}}
    <p class='error'>{{error}}</p>
    {{/if}}
</div>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
    integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
    crossorigin="anonymous"></script>
<script src='/public/script/userProfile.js'></script>