<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>JobHunt!</title>
    <link rel="stylesheet" href="/public/css/site.css">
</head>
<body>
    <header>
        <nav>
        <article>
        <h1> Looking For a job .... ! We got you covered </h1>
  </article>
    </nav>
    <p> Welcome to JobHunt </p>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>Group1: Team members</footer>
</body>
</html>